body {
  padding: 50px;
  background-color: #9098ff;
}

a {
  color: #00B7FF;
}

fieldset label {
  display: block;
  width: 600px;
  clear: both;
}

fieldset label input {
  float: right;
  width: 300px;
}
fieldset label textarea {
  float: right;
  width: 300px;
}

order {
  font-size: 20px;
}