extends ../layout

block content
 p
  strong
   | Your order <em>#{order.id}</em> has been processed!
 p
  | Thank you for using Serendio Shoe Mart. Your product will be sent to <strong>#{order.delivery.address}</strong>

 p
  | Updates will be sent to both your Email Address (#{order.email}) and Phone Number (#{order.phone}).  
