extends ../layout

block content
  p
    label(style='font-size: 24px') OrderId:&nbsp;
    |#{address}
    <br>
    <br>
  form(method="post")
    fieldset
      legend User details
      p
        label(for="username") Name:
          input(type="text", name="name")
      p
        label(for="emailid") Email Id:
          input(type="text", name="EmailId")
      p
        label(for="phone") Phone number:
          input(type="text", name="phone")
      p
        label(for="address") Address:
          textarea(name:'body', rows:20)=products[0]
      p
        <br>
        label(for="landmark") Landmark:
          input(type="text", name="landmark")
    <br><br>


    fieldset
      legend Checkout &amp; Payment

      p
        strong
          | Total Price: $

      p
        label(for="creditcard") Credit card number:
          input(type="text", name="creditcard", placeholder="Any number will do")

      div
        input(type="hidden", name="orderId", value=products)
        input(type="hidden", name="address", value=address)

    p.buttons
      input(type="submit", value="Checkout!")
